.text_with_media_component {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 0.9375rem 0;

    .text_heading {
        width: 100%;
    }

    .text_content {
        line-height: 1.375rem;
    }

    .media-block {
        max-width: 400px;
        width: 100%;
        height: auto;
        margin: 0.9375rem;

        >img {
            width: 100%;
            height: auto;
        }

        >video {
            width: 100%;
            height: auto;
        }
        
        @media screen and (max-width: 900px) {
            min-width: 200px;
        }
    }
}

